* {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 24px;
  }

.content {
    position: relative;
    height: 100vh;
    margin: 1% calc(50vw - 325px);
    padding : 40px;
    background-color: #E8EEFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  color: #5C9DFE;
  font-weight: bold;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #111111;
    font-weight: lighter;
}

.check__input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.check__box{
    position: absolute;
    margin-left: -30px;
    width: 24px;
    height: 24px;
    background-image: url("../src/assets/images/check-off.svg");
    cursor: pointer;
    
}

.check__input:checked + .check__box {
    background-image: url("../src/assets/images/check-on.svg");
}

.check__input:focus + .check__box {
    background-image: url("../src/assets/images/check-off-focus.svg");
    background-size: 24px 24px;
}

.check__input:checked:focus + .check__box {
    background-image: url("../src/assets/images/check-on-focus.svg");
}

.check {
    padding-left: 30px;
}

.add-task{
    position: sticky;
    position: -webkit-sticky;
    top:100vh;
    height: 50px;
}

.add-task__button{
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url("../src/assets/images/add-task.svg");
    background-repeat: no-repeat;
}